<h1>Change your settings!</h1>

<%= semantic_form_for(:user, :url => {:action => 'update', :id => @user.id}) do |f| %>



<%= render(:partial => "form", :locals => {:f => f}) %>
<p>

 


<%= f.actions :submit, :cancel("edit user") %> <p>
<%= link_to('back', {:action => 'index'}) %>
  <% end %>