

<h1>Change your settings!</h1>

<%= semantic_form_for(:user, :url => {:action => 'update', :id => @user.id}) do |f| %>



<%= render(:partial => "form", :locals => {:f => f}) %>
<p>

 


<%= f.submit %> <p>

  <% end %>
Questions with * are required
<br>
<button type="button" class="btn btn-info">
	<%= link_to('back', {:action => 'index'}) %>
</button>
