<section id="home" data-type="background" data-speed="10" class="pages">     
         <article></article>
    </section>   
     
<section id="about" data-type="background" data-speed="10" class="pages">
         <article>Hello!<br>
I'm Louis Vazquez,
Currently I live in Pittsburgh, I'm a student at Shepherd Univ. in West Virginia.
I study Communications focusing in Web Design, and Graphic Design. 
I have also been to school in Seoul, Korea and London, England.<br>
<br>
<%= link_to image_tag("anatomy.png", :alt => "favicon" ) %> </article>
</section>

<section id="example" data-type="background" data-speed="10" class="pages">
         
</section>

<section id="bottomquote" data-type="background" data-speed="10" class="pages">
         <article>Overall this project took me over 4 months to complete! Besides HTML and CSS I had no previous experience with any of the peices I used to make this. <br>Meaning I hadn't touched Ruby on Rails before hand. Overall this was really challenging. Many times I thought It would never get done! While it still isn't 100% of what I set out to make it still represents about 90% of the original idea, and I'm pretty happy how it has turned out. 
          <br><h3>To see what else I have been up to visit my blog!<br>
         http://lvazqu01.weebly.com/
         <br>
         <br>
         or view the code for this project over in Github<br>
        https://github.com/tofutiger/mapforthought</h3></article>
</section>