// Place all the styles related to the user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap-sprockets";
@import "bootstrap";

#username {
	margin-top:80px;
	float: left;
	width: 400px;
	border-right-color: #cccccc;
	border-right:solid 1px;
	margin-left:20px;

}
#usersecondinfo {
	margin-left:20px;
	margin-top:80px;
	float:left;
	width:500px;
	
}

 #user_crud {
	float:left;	
	padding-top:5px;
	margin-top:30px;
	
} 


 #userblip {
	float:left;
	height:500px;
	width:330px;
	background-color: #f2f2f0;
	margin-bottom:5px;
	margin-left:5px;
	margin-right:5px;
	-webkit-border-radius: 3px;
	border-radius: 3px;

	
}

#userindexinfo {
	width:310px;
	float: left;
	margin-left:5px;
	height: 150px;
}


#avatarinfo {
	float: left;
	margin-top:20px;
	height:250px;
}


#deleteform {
	margin-top:15px;
	width: 90%;
	margin-left:10%;
}

#key {
	background-color: #ffcc00;
	height:60px;
	padding-top:10px;
	padding-left:15px;
}