<div id="newloccontainer">
	<div id="newimage">
		<%= link_to image_tag("italy.jpg", :alt => "favicon" ) %>
	</div>

<div id="newlocation">
<h2>Add a Point to the map!</h2>

	<div id="picturelocation">
		<%= link_to image_tag("Worldwide Location-100.png", :alt => "favicon" ) %>
	</div>
<%= render 'form' %>
</div>
<button type="button" class="btn btn-info">
<%= link_to 'Back', locations_path %>
</button>
</div>